.container{
    display: flex;
    gap: 5px;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #fff;
    justify-content: space-around;
  
}

.container > div {
    flex-basis: 0;
    flex-grow: 1;
}

.task-list {
    width:100%;
}

.hero-container{
    padding: 20px;
    font-weight: bold;
    font-size: 12px;
}

.hero-container p{
    border-radius: 15px;
    background-color: rgb(226, 221, 221);
    width: 90%;
    height: 30px;
    margin-top: 10px;
    text-align: center;
}

.hero-container-two{
    display: grid;
    font-weight: lighter;
}
.hero-container-two p{
    font-weight: bold;
    font-size: 12px;
}
.hero-container-two span{
    font-size: 11px;
}
.hero-container-three{
    display: flex;
}
.hero-container-three img{
    border-radius: 90px;
    height: 40px;
}
.hero-three-span{
    display: grid;
    font-weight: lighter;
    font-size:11px;
    
}
.hero-three-span p{
    font-weight: bold;
    margin-top: 10px;
}
.hero-task{
    border:1px solid darkgrey;
    color:black;
    font-size:10px;
    border-radius:0 30px 30px 30px;
    padding:12px 20px;
    text-align: flex-start;
}
.hero-task ul li{
    margin-top:-5px ;
    white-space: nowrap;

}

.container-wrapper{
    flex-direction: column;
    gap: 25px;
    display: flex;
    margin-top: 10px;
    padding: 20px;
    width:100%;
}
.delete img{
    width:20%;
}

.btn-delete {
    border: none;
    background-color: #fff;
    width: 100%;
}
@media only screen and (max-width: 675px) {

    .container-wrapper {
        padding: 0px !important;
    }

    .hero-container p{
        width: 100% !important;
    }

    .hero-container{
        padding: 5px;
    }

    .hero-task {
        font-size: 9px;
        width: auto;
        height: 20px;
    }

    .hero-task ul li{
        margin-top:-5px ;
        white-space: nowrap;
    
    }
    
    .delete img{
        width:100%;
    }
    
    .btn-delete {
        border: none;
        background-color: #fff;
        width: 50%;
    }
   
}