
  
  .card-wrap {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 400px;
    border-radius: 15px; 
    height: 610px;
    border: 3px solid burlywood;
  }
  .card-wrap h1 {
    text-align: center;
    font-size:20px;
    margin-top: 15px;
  }
  .form-labels {
    margin-left: 20px;
    font-weight: bold;
  
  }
  .register-title{
    text-align: center;
    font-style: italic;
    color: white;
  }
  .gereral-div {
    margin-top: 8px;
    margin-bottom: 10px;
    flex-direction: column;
    height: 35px;
    width: 80%;
    display: block;
    margin-left: 20px;
  }
  .register-form {
    width: 400px;
    margin-top: 20px;
    margin-left: 20px;
    
  }
  .register-button {
    width: 120px;
    height: 35px;
    border-radius: 30px;
    border-collapse: collapse;
    color: white;
    margin-top: 8px;
    background-color: cornflowerblue;
    margin-left: 110px;
    border:none;
  }
  .register-button:hover {
    background-color:wheat;
  }
  
  @media only screen and (max-width: 500px) {
    .card-wrap {
      font-size: 16px;
      width: 100%;
      width: auto;
      margin-bottom:auto;
      margin-bottom: 80px;
    }
    .register_style {
      width: 10%;
    }
    .register-form {
      width: 350px;
      margin-top: 18px; 
      margin-left: 5px;
    }
    .register-button{
        margin-top: 30px;
    }
  }
  @media only screen and (max-width: 375px) {
    .card-wrap {
      font-size: 16px;
      width: auto;
      margin-bottom:auto;
    }
    .register-form {
      width: 320px;
      margin-top: 18px; 
      margin-left: 5px;
    }
    .register-button{
      margin-top: 15px;
  }
  }
  @media only screen and (max-width: 696px) {
    .card-wrap {
      font-size: 16px;
      width: auto;
      margin-bottom:auto;
    }
    .register-form {
      width: 350px;
      margin-top: 18px; 
      margin-left: 5px;
    }
    .register-button{
      margin-top: 15px;
  }
}